// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gloria+Hallelujah&family=Permanent+Marker&family=Quicksand:wght@300;400;500;600&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;600&family=Inter:wght@200;300;400;500&family=Kaisei+HarunoUmi:wght@400;500;700&family=Kaisei+Tokumin:wght@400;500;700;800&family=Playfair+Display:wght@400;500;600&family=Raleway:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Cabin+Sketch&family=Cantata+One&family=DM+Serif+Text&family=Gelasio:wght@400;500&family=Gowun+Batang:wght@400;700&family=Karma:wght@300;400;500&family=Lusitana&family=Marcellus&family=Rock+Salt&family=Rufina:wght@400;700&family=Special+Elite&family=Tenor+Sans&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Coda+Caption:wght@800&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courgette&family=DM+Serif+Display:ital@0;1&family=Kaushan+Script&family=Nothing+You+Could+Do&family=Passion+One&family=Poiret+One&family=Sigmar+One&family=Tangerine:wght@400;700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Caveat:wght@400;500;600&family=Coda+Caption:wght@800&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courgette&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:wght@400;500&family=Italiana&family=Kaisei+Decol:wght@400;500;700&family=Kaisei+HarunoUmi:wght@400;500;700&family=Kaisei+Opti:wght@400;500;700&family=Kaisei+Tokumin:wght@400;500;700;800&family=Kaushan+Script&family=Nanum+Myeongjo&family=Nothing+You+Could+Do&family=Passion+One&family=Poiret+One&family=Prata&family=Rajdhani:wght@300;400&family=Sigmar+One&family=Tangerine:wght@400;700&family=Yellowtail&display=swap');
// Define fonts for body and headers
// $body-font: 'Quicksand', sans-serif;



// $body-font: 'Cormorant Garamond', serif;

// $body-font:  'Inter', sans-serif;
// $headers-font:  'Kaisei HarunoUmi', serif;
// $headers-font:  'Kaisei Tokumin', serif;


// $headers-font: 'Arbutus Slab', serif;
// $headers-font: 'Cabin Sketch', cursive;
$headers-font: 'DM Serif Display', serif;
// $body-font: 'Poiret One', cursive;
// $headers-font: 'Gelasio', serif;
// font-family: 'DM Serif Display', serif;

// $headers-font: 'Lusitana', serif;


// $body-font: 'Rufina', serif;
// $body-font: 'Raleway', serif;
$body-font: 'Arbutus Slab', serif;
// $body-font: 'Cabin Sketch', cursive;
// $headers-font: 'Special Elite', cursive;

// font-family: 'Caveat', cursive;
// font-family: 'Coda Caption', sans-serif;
// font-family: 'Cormorant', serif;
// font-family: 'Courgette', cursive;
// font-family: 'DM Serif Display', serif;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Nothing You Could Do', cursive;
// font-family: 'Passion One', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Sigmar One', cursive;
// font-family: 'Tangerine', cursive;
// font-family: 'Yellowtail', cursive;

// font-family: 'Antic Didone', serif;
// font-family: 'Caveat', cursive;
// font-family: 'Coda Caption', sans-serif;
// font-family: 'Cormorant', serif;
// font-family: 'Courgette', cursive;
// font-family: 'DM Serif Display', serif;
// font-family: 'EB Garamond', serif;
// font-family: 'Italiana', serif;
// font-family: 'Kaisei Decol', serif;
// font-family: 'Kaisei HarunoUmi', serif;
// font-family: 'Kaisei Opti', serif;
// font-family: 'Kaisei Tokumin', serif;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Nothing You Could Do', cursive;
// font-family: 'Passion One', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Prata', serif;
// font-family: 'Rajdhani', sans-serif;
// font-family: 'Sigmar One', cursive;
// font-family: 'Tangerine', cursive;
// font-family: 'Yellowtail', cursive;



// font-family: 'Fira Sans', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Kaisei HarunoUmi', serif;
// font-family: 'Kaisei Tokumin', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$size-header-1: 64px;
$size-header-2: 48px;
$size-header-3: 32px;
$size-body-l: 24px;
$size-body-m: 18px;
$size-body-s: 16px;

