
<!-- <div class="flex-container"> -->
  <div class="banner flex-container">
    <h1 class="center">quouch & itrust</h1>
  </div>
<!-- </div> -->
<div class="wrapper">
  <div class="paragraph2">
    <div class="container">
      <br>
      <br>
      <br>
       <h1>No more overnight stays with horny single men</h1>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="missionn1">
      <br>
      <br>
      <br>
    <div class="img-sunglasses"></div>
    <div class="paragraph">
      <h1><strong>An alternative couchsurfing platform from a female & queer perspective.</strong></h1>
      <br>
      <br>
      <br>
      <br>
      <h1><strong>A new approach of trust evaluation between users, away from solely reviews.</strong></h1>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="paragraph2">
    <div class="container">
      <br>
      <br>
      <br>
      <h1><strong> You are a girl. Imagine a world in which you can couchsurf and have nothing to fear.</strong></h1>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="missionn1">
      <br>
      <br>
      <br>
    <div class="paragraph">
      <br>
      <br>
      <br>
      <h2>Couchsurfing without the annoying risk of again
          ending up at a lonely horny weird guys home can be wonderful.</h2>
      <br>
      <h2>Sex is a driving force of many things people do, including offering travelers their home.
          But if there was a platform, only for those rather suffering under that driving force,
          than enjoying it mutually, then this can open up new doors for free and exciting traveling.</h2>
      <br>
      <br>
    </div>
    <div class="img-horny"></div>
  </div>

  <div class="paragraph2">
    <div class="container">
      <br>
      <br>
      <br>
       <h1><strong> You are queer.
       Imagine a world in which you can couchsurf with likeminded people and don't have to explain the basics. Again and again.</strong></h1>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="background">
    <br>
    <br>
    <br>
    <br>
    <div class="missionn1">
      <div class="img-trust"></div>
      <div class="text2">
        <div class="label">
          <p>itrust</p>
        </div>
        <h3>Isn't it crazy that the decision whether we trust a person or not is still based on reviews? On all large platforms.
        Ebay Kleinanzeigen, Blablacar, Airbnb...</h3>
        <br>
        <br>
        <h3> If a user has not many reviews or none at all, we are not likely to trust her or him. Bad reviews are hardly found, since writing those are
             socially uncomfortable. Isn't there a better way of getting a clearer idea of who is sitting behind the screen?
             A smarter way of asking for reviews? An algorithm calculating a trust score based on information available about the user? A gamified approach ?
             This is what we are working on.</h3>
     </div>
  </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p>©Quouch 2021</p>
  </div>
</footer>





<!--
<div class="flex-container">
  <div class="rectangle1">
    <div class="horny">
        <h2>Couchsurfing without the annoying risk of again
          ending up at a lonely horny weird guys home can be wonderful.
          Sex is a driving force of many things people do, including offering travelers their home.
          but if there was a plattform, only for those rather suffering under that driving force,
        than enjoying it mutually, then this can open up new doors for free and exciting traveling.</h2>
    </div>
     <div class="trust1">
        <h2>So how do you trust a person?</h2>
        <p>So far, this is mostly being done via reviews. </p>
    </div>
  </div>
<div class="rectangle2">
   <div class="trust2">
        <h2>Really? Isn't this a bit weak? Right. That is why we work on an algorithmic solution to provide a more reliable trust level between users.</h2>
    </div>
       <div class="mission">
        <h2>I was traveling for 3 years after finishing school, using Couchsurfing a lot.
        But at some point I got so fed up with this implicit space I felt I was navigating myself in ALL the time,
        which is constantly finding the balance
      between setting my boundaries and staying polite, since you stay at another persons home, that I could not be bothered anymore
    to use it.
  We thought, it's time for an alternative platform! </h2>
    </div>
      </div>
</div> -->

<!-- We support female and queer-identifying individuals to couchsurf in a relaxed way among their peers.
Couchsurfing.org is a male-dominated platform, and since people often assume very different viewpoints when using it, we saw the potential to launch a second platform.
The idea was born out of a need and a pain of my own - I, the founder, couchsurfed for many years, almost basically with men, but at some point I got tired of enduring and reacting to more being in the room.
Because Basically you can set limits, Basically you can have a good time, Basically "in itself" almost never happened. But there's a big difference between, after worrying about whether you have to reposition yourself, spending a relaxed evening having nice conversations and getting into bed or on the couch unmolested, and spending time with someone who lives in a similar reality of life as you do. Structurally, women tend to experience sexualization, queer people either stigmatization or lack of understanding, in whatever form, and reacting to this is burned into the marrow of every woman and every queer person.
To stop using Couchsurfing because of that in itself is bitter, because the idea is so good. That's why we're trying to create a second space. Where people can be themselves more freely and also use it as a conscious tool to connect with each other as part of a marginalized group.
It is precisely these encounters that are difficult to establish in everyday life. The basic attitude of many people is heteronormative, even in couchsurfing (and the people for whom it is not so, of course, do not have this written on their noses).
To travel freely and use couchsurfing without the inner tension level of having to constantly defend or separate yourself, conversely even being directly connected to similar people, I imagine is so empowering and relieving and exciting. You can get in on a whole other level, feel more connected and closer to each other.
Which of course leads to a whole other potential in terms of globally spanning intercultural relationships.

We also refer to broader qualitative research in the form of self-conducted interviews, as well as existing theoretical work and bloggers who have experienced Couchsurfing and write and report about it.
Our business model is to provide truly relevant advertising from sustainable businesses to users, and we are also considering launching a premium model that will give users access to coworking spaces and queer events and locations.
Through collaboration with IKW at the University of Osnabrück, we are also working on an algorithmized solution to model the trustworthiness of users and offer a verification option that goes beyond positive ratings. This could also be interesting for all other platforms for which the mutual trust of users is essential and sold or rented to them.
We assume that there is a large developable market, since there are already 14 million users on the "conventional" Couchsurfing platform alone, of which, however, as already described, on average 1/12 are female. That is, let's just roughly calculate with: 1,166,666 female users, queer people not included for now and all the female users who are not even on Couchsurfing for the reasons described.
Of course, people of male gender are also not excluded from the platform - categorically -, but they are not actively advertised and besides, the whole branding of the site will be aimed at following a non-heteronormative code of conduct. That being said, it's not like female and queer travelers don't organize themselves differently. There are numerous facebook groups in which a total of a million female members exchange ideas with each other, and the same is true once again for the queer community. However, since it is extremely difficult to find what you are looking for in Facebook groups due to a lack of functionality, for example, a short-term couch, these also fall into the potential user segment.
It must be said that since there are already more offers for queer cis men, they also do not fall into the acute target group and are called upon to keep a low profile. Gay men also tend to occupy more space within the community, at least in relation to queer women. These are deliberately protected here.
Speaking of the increased supply, -->

<!-- <div class="flex-container">

      <div class="mission">
        <h1>Couch</h1>
        <h1>surfing</h1>
        <h2>without the annoying risk</h2>
        <h2>of again ending up at a </h2>
        <h3>lonely horny weird guys home</h3>
        <h1>can be wonderful.</h1>
        <br>
      </div>

</div>
</div> -->

<!--
<div class="flex-container">
  <div class="forms">
    <div class="horny">
      <h1>Couch</h1>
      <h1>surfing</h1>
      <h2>without the annoying risk</h2>
      <h2>of again ending up at a </h2>
      <h3>lonely horny weird guys home</h3>
      <h1>can be wonderful.</h1>
      <br>
    </div>
  </div>

  <div class="triangle2">
  </div>


    <div class="trust">
      <h1>Couch</h1>
      <h1>surfing</h1>
      <h2>without the annoying risk</h2>
      <h2>of again ending up at a </h2>
      <h3>lonely horny weird guys home</h3>
      <h1>can be wonderful.</h1>
      <br>
    </div>

  <div class="mission">
    <h1>Couch</h1>
    <h1>surfing</h1>
    <h2>without the annoying risk</h2>
    <h2>of again ending up at a </h2>
    <h3>lonely horny weird guys home</h3>
    <h1>can be wonderful.</h1>
    <br>
  </div>

 </div>
</div>
 -->

 <!-- <div class="container">
  <div class="missionn">
     <div class="img-team">
    </div>
      <div class="text1">
  <div class="label">
          <p>team</p>
        </div>
        <h2 class="header"> Who we are</h2>
       <p>But that's not only it!! Many girls do not even use couchsurfing for that reason. But in itself,
       it is such a great idea. So what do we do when one group of people is taking over a space
       for themselves? We build an alternative one and make it even nicer and suitable for us.
        </p>
       <div class="button">learn more</div>
     </div>
  </div>

</div> -->



