<div class="container">
   <div class="img-horny">
    </div>
  <div class="missionn">
     <div class="text">
        <h2 class="header"> About</h2>
       <p>I was traveling for 3 years after finishing school, using Couchsurfing a lot.
        But at some point I got so fed up with this implicit space I felt I was navigating myself in ALL the time,
        which is constantly finding the balance
        between setting my boundaries and staying polite, since you stay at another persons home, that I could not be bothered anymore
        to use it.
        We thought, it's time for an alternative platform! </p>
     </div>
  </div>
    <br>
    <br>
</div>
