
    <h1 class="center container"> About </h1>


  <div class="paragraphh">

  <p> A few weeks ago, my girlfriend Josi and me sat besides the open window in the sunlight that was flooding through my room - we decided to pour ourselves a really nice glas of ice cold white wine, and it was just one of those illuminated days where you don't want to be anywhere else in this world.
    Suddenly we started talking about how we desire to travel again and how we used couchsurfing earlier in our lives - and then also why we stopped using it. We could not be bothered anymore about navigating that implicit expectations of many surfers that there might be "happening more"..
    So we were wondering if there might be an alternative platform, - a couchsurfing platform from a female or queer perspective, maybe?
    We did some research while nipping on our wine, and seriously, we could not find any realistic alternative.
    So - that was my starting shot!
    Why not make it ourselves?
    Since this is not really Josi's "path" (she is becoming a psychotherapist) I had to find proper co-founders. To get to know us, head over to the team section:
  </p>
<a href="about" class="button1 outline">Meet Us</a>
<br>
<p>But this is not all it. Of course, we can talk about all those little fun stories of how we sat on our couch in my nice room in Berlin, dwelling in ideas -
but actually I intend to tackle a much more fundamental problem, which is the freedom women and any other member of marginalized groups desire and lack in many aspects of life.
Couchsurfing is a very intimate way of traveling.
And that intimacy as well as being already in a thankful position often leads to a false idea of the potential for sex.
IF that was two sided, fine. In reality, it is a recurring pattern that one side suffers systematically more by the approaches of the other one.
</p>
<br>
<p>SO</p>
<h3 class="container paragraphh">Sex is a driving force of many things people do, including offering travelers their home. But if there was a platform only for those rather suffering under that driving force <strong>than enjoying it mutually</strong>, then this can open up new doors for free and exciting traveling.</h3>
<h3 class="container paragraphh"> <strong>We LIVE in a heteronormative world, and it takes so much energy. To consistently swim against the current, swim against the default state that men desire women and the other way around, so what about creating a world, or at least this one couchsurfing platform, where this default state for once is turned upside down? Our platform is NOT based on heteronormativity, and this adds such a level of relaxation.</strong></h3>

<h3 class="container paragraphh">You <strong>can OWN</strong> the world, instead of refraining from traveling and/or using couchsurfing. You go out there and stay with people who are more like you. You can travel to a city <strong>BECAUSE</strong> there are cool couchsurfers that you would like to meet, and meanwhile discover the place. Suddenly you <strong>FIRST</strong> go surfing and <strong>THEN</strong> traveling. </h3>
<h3 class="container paragraphh">Imagine: you have no plans for the weekend, you check the quouch app for fun in Leipzig, and just hang out there at another queer WG for one or two days</h3>
<h3 class="container paragraphh">Imagine: You are at a city in a country where queerness is not openly lived. Through the app, you are immediatly connected to the locals, who show you the hidden hotspots.</h3>

</div>
