
<div class="container header">
  <h1>Vision</h1>
</div>

<!-- <h1 class="rectangle114">He wraps his arm around your shoulders. Juan's face is very close, he laughs a lot and smells of wine. You move away from him again, but he doesn't seem to notice. Should you say something? Should you explicitly take his arm and move him away from you? That would be a bit of a mood killer, of course. You ask yourself whether you are perhaps too sensitive - after all, nothing has happened, and especially in southern countries there are completely different standards of physical contact. Your inner tension grows. He pours you more wine, strokes your cheek, asks you directly about your love life. Inside of you, everything is stiff. It is far from being a nice evening anymore. You're annoyed and looking for a way out.</h1>

<div class="header">
  <h1>What we actually want: </h1>
</div>
 -->
<div class="prague-section">

  <div class="container header12">
  <h1 class="dance">You just arrived in </h1>
    <div class="container prague"><h1 class="header12" style="font-size:300px;color:white;margin-left: 35px;">Prague <br> <h1 style="margin-top:100px;"><h1 style="margin-top:200px;margin-left: 30px;background-color:black;">You don't have a place to crash yet, but that doesn't matter...</h1></div>
</div>
</div>



<div class="mila-section">
<div class="header13">

  <br>
  <h1 style="margin-left: 30px;margin-top: -200px;">...because you have just discovered that casual, new Couchsurfing app. It</h1>
<h1 class="big" style="margin-left: 30px;">MATCHES</h1> <h1 style="margin-left: 30px; ">you to other surfers.</h1></h1>
<h1 class="big3"><br><br>Today, your first suggestion is</h1>
</div>
  <div class="mila">
    <h1 class="container big2">MILA</h1>
  </div>
</div>

<br>
<div class="blackk">
<p> <br>You text Mila because you think she looks like an extrovert library assistant. She lives centrally in the old town and is also interested in music production. She responds and you decide to meet at a <br> </p>
</div>

<div class="monument"><h1 class="header12"><br><br><br>remarkable monument.</h1>
<br>
<h1 class="rectangle111">You eat pizza at the cheapest and hottest Italian restaurant in town. The conversation runs on its own and afterwards you drink another beer by the Vltava River. </h1>
</div>

<!-- <p class="container" style="font-size:30px; margin-top:10px;"> She still has an appointment, but already gives you her keys.

Relaxed you walk to her apartment and leave your backpack there, it's a cute little one-room flat, an electric guitar stands in a stand and she has many plants.</p> -->

<div class="rectangle113"><h1>You talk about your common love for inflatable boats, urban gardening and costume parties and since there is one happening the upcoming night, you decide to stay longer. </h1></div>

<!-- <div class="rectangle111"><h1>Now - as a person who loves differently than heterosexually it is often even more stressful to be encountering situations such as with Juan. And on the other side, it is on another level connecting and beautiful when you meet somebody and realize that you live in a similar world. With Mila for example, the conversation could continue like this: </h1></div>


<h1 style="color:black;margin-top:30px;margin-bottom: 30px;">At some point Mila talks about her ex girlfriend and you feel safe enough to also share who you are. You get into deep shit when you start talking about some early years during high school, where everyone around you had their first teenage crushes and you didn't really understand what that fuss was all about. Only that you felt strangely lonely, and that it got worse. You joke and laugh about your younger self, but of course you have experienced a deeper level of pain.</h1>
 -->


















































<!--







  <div class="container">
    <h1 class="title">Steps to The Sky</h1>

<div class="x12-title">
  <div class="container grid-conts">

    <div class="container overlap-group orangefun">
      <h1>2022</h1>
      <p>CS platform</p>
    </div>
     <div class="container overlap-group2 purplefun">
      <h1>2023</h1>
       <p>Matching/Trust <br>
            Algorithm <br>
            Premium Membership: <br>
          Access to coworking spaces, Sport Studios and queer clubs and Parties</p>
     </div>
     <div class="container overlap-group1 redfun">
      <h1>2025</h1>
       <p> <br> we build and design our own female & queer oriented coworking spaces</p>
     </div>
  </div>
</div> -->
