
<!-- <div class="container header">
  <h1>Vision</h1>
</div>
 -->
<div class="prague-section">

  <div class="container header12">
  <h1>You've just arrived in </h1>
    <div class="prague"><h1 class="header12" style="font-size:300px;">Prague <br> <h1 style="margin-top:100px;">You don't have a place to crash yet, but that doesn't matter...</div>
</div>
</div>



<div class="mila-section">
<div class="header13">

  <br>
  <h1>...because you have just discovered that casual, new Couchsurfing app. It</h1>
<h1 class="big">MATCHES</h1> <h1>you to other surfers. <br><br>Today, your first suggestion is</h1></h1>

</div>
  <div class="mila">
    <h1 class="big2">MILA</h1>
  </div>
</div>

<br>

<p class="blackk" style="margin-bottom: 80px;font-size: 30px"> <br>You text Mila, even though you think she looks intimidatingly cool. She lives centrally in the old town and is also interested in music production, like you. She responds and you decide to meet at a <br> </p>

<div class="monument"><h1 class="header12"> <br><br><br>remarkable monument.</h1></div>

<!-- <p class="container" style="font-size:30px; margin-top:10px;"> She still has an appointment, but already gives you her keys.

Relaxed you walk to her apartment and leave your backpack there, it's a cute little one-room flat, an electric guitar stands in a stand and she has many plants.</p> -->
<br>
<h1 class="redd rectangle111">You eat pizza at the cheapest and hottest Italian restaurant in town. The conversation runs on its own and afterwards you drink another beer by the Vltava River. </h1>

<h1 class="rectangle112">At some point Mila talks about her ex girlfriend and you feel safe enough to share also who you are. You get into deep shit when you start talking about your high school years and the double loneliness you both felt.</h1>




<h1 class="rectangle113"> The loneliness with yourself due to the denial of your own identity, and the loneliness on the outside because everyone is having their first experiences, falling in love, acting out their sexuality, and you just stay alone because what everyone is doing isn't interesting to you.</h1>


























































  <div class="container">
    <h1 class="title">Steps to The Sky</h1>

<!-- <div class="x12-title"> -->
  <div class="container grid-conts">

    <div class="container overlap-group orangefun">
      <h1>2022</h1>
      <p>CS platform</p>
    </div>
     <div class="container overlap-group2 purplefun">
      <h1>2023</h1>
       <p>Matching/Trust <br>
            Algorithm <br>
            Premium Membership: <br>
          Access to coworking spaces, Sport Studios and queer clubs and Parties</p>
     </div>
     <div class="container overlap-group1 redfun">
      <h1>2025</h1>
       <p> <br> we build and design our own female & queer oriented coworking spaces</p>
     </div>
  </div>
</div>
