 <div class="banner2">
    <h1 class="center">Meet The Team</h1>
  </div>

  <!-- <div class="container"> -->
  <!-- <h1> Meet the Team </h1> -->

      <div class="container nora-img"></div>
      <div class="paragraphh">
        <h1>My name is Nora,</h1>
        <p>I founded Quouch in July 2021 and am STILL working on this
        landing page (2 months later!!).
        Well!
        Now, when introducing myself, I should start with where it all began: My trips and the
      couchsurfing! When finishing High School 2012, I went off traveling to South America. So original.
    I did not have any plans and ended up with a religious community (twelve tribes) the first weeks far off any civilization.
  Then I started to miss beer. I left the long bearded lesbian hating jesus gang and went couchsurfing all around Argentina, Chile, until Ushuaia and back.
  During this time I realized that it could mean the WORLD having an alternative platform, away from an overrepresented masculinity but towards a soft, friendly and respectful togetherness, where hopping into each others bed is not an ongoing one sided phantasie.

  I painted hostels in exchange for accommodation, sold fruits with faces, empanadas, kettles and did street music with a self made drumset out of tins and boxes.
   At some point, I missed my flight back home, discovered my sexuality and ended up two and a half years in Brazil, Sao Paulo, and that is another huge story.

   But all things come to an end. When getting back home, time for university (cognitive science in Osnabrück, hell yeah!), then a coding boot camp, stuff in between such as herrnora.com, dieletztekatze.de and "noraluxx" (youtube) and here I am.
   Nice to meet you!!
    </p>
      </div>
  <div class="container jeanie-img"></div>
      <div class="paragraphh">
        <h1>Jeanie</h1>
        <p>The bad-ass brain- we met at that coding bootcamp, where I learned to admire
          her sharp thinking skills. Analytical, Techy and creative with a background in Fashion, Jeanie was from the
          start the perfect quouch companion (especially because of the fashion aspects! All couchsurfers are supposed to wear
          the most glittery glorious outfits!!!)
    </p>
      </div>


 <!--  <p>

  </p>
</div> -->
