
.banner {
  height: calc(100vh - 10vh);
  background-image: asset-url('burn2.jpeg');
  justify-content:center;
  background-size: cover;
  padding-top: 30px;
  background-position-x: center;
  background-position-y: 70%;
  text-align: center;
}

.banner .container {
  padding: 10px;
}

.banner h1 {
  padding-top:90px;
  color: #efefef;
  font-family: 'Poiret One', cursive !important;
  font-weight: lighter;
}

.banner p {
  font-size: 20px;
  color: white;
  font-weight:500;
  font-size:18px;
  padding-top: 100px;
  margin-top: 60px;
  font-family: 'Poiret One', cursive !important;
  font-weight: lighter;
}

.center {
  position:absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}




