.button {
  padding: 12px 25px;
    border-radius: 16px;
    background-color: #e16415;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    width: 40%;
}

.button:hover {
  opacity: 0.5;
}
