.button1 {
  display: inline-block;
  padding: 20px 40px;
  cursor: pointer;
  background: black;
  color: white;
  border: none;
  border-radius: 7px;
  font-family: 'Poiret One', cursive !important;
  margin-top: 35px;
  margin-left:50px;
  font-size: 30px;

}

.button2 {
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  background: black;
  color: white;
  border: none;
  border-radius: 7px;
  font-family: 'Poiret One', cursive !important;
  margin-top: 35px;
  margin-left: 0px;
  font-size: 20px;

}


.button2:hover {
  background-color:#800080;
  text-decoration:none;
  color: white;
  // opacity: 0.5;

}



.contact-button {

  font-family: 'Poiret One', cursive !important;
  display:inline-block;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  background:black;
  color:#FFFFFF;
  font-size:20px;
  border-radius:8px;
   padding:0 33px;
  // padding: 20px 40px;
  font-weight:bold;
  height:50px;
  cursor:pointer;
  line-height:50px;
  text-align:center;
  margin-left: 600px;
  margin-bottom: 200px;
  text-decoration:none;
}

.contact-button2 {
  font-family: 'Poiret One', cursive !important;
  display:inline-block;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  background:black;
  color:#FFFFFF;
  font-size:20px;
  border-radius:8px;
   padding:0 33px;
  // padding: 20px 40px;
  font-weight:bold;
  height:50px;
  cursor:pointer;
  line-height:50px;
  text-align:center;
  margin-left: 600px;
  margin-top:150px;
  margin-bottom: 250px;
  text-decoration:none;
}

// .button2 {
//    display: inline-block;
//   padding: 10px 30px;
//   cursor: pointer;
//   background: black;
//   color: white;
//   border: none;
//   border-radius: 30px;
//   font-family: $headers-font;
//   margin-top: 35px;
//   margin-left:0px;
// }


.button, input {
  border-radius: 30px;
}
