#user_signup_email {
  width: 70%;
  border-radius:30px;
}

.actions {
  margin-top: 17px;
  border-radius:30px;
}

.button, input {
  border-radius: 30px;
}

#signup {
  display: flex;
  justify-content:center;
}

.flex-container {
  display:flex;
  align-self: center;
  background-color:#E16316;
}
