#user_signup_email {
  width: 70%;
  border-radius:30px;
}

.actions {
  margin-top: 17px;
  border-radius:30px;
}

.button, input {
  border-radius: 30px;
}

#signup {
  display: flex;
  justify-content:center;
}


.rectangle1 {
    width: 100vw;
    height: 700px;
    background: linear-gradient(to bottom right, #E16415 0%, #E16415 50%, #9D1C33 50%, #9D1C33 100%);
  }
// =======
// .forms {
//   background: linear-gradient(to bottom left, #9D1C33 0%, #9D1C33 50%, #E16415 50%, #E16415 100%);
// >>>>>>> c6790ae9b973dff4d5a76b940d3b3f9fd0ed75fb
// }




.rectangle2 {
    width: 100vw;
    height: 700px;
   background: linear-gradient(to bottom left, #9D1C33 0%, #9D1C33 50%, #E16415 50%, #E16415 100%);
}


// .triangle1 {
//   position: absolute;
//   z-index: 3;
//   width: 100vw;
//   height: 50vh;
//   border-bottom: 700px solid orange;
//   border-left: 1500px solid green;

// }

// .triangle2 {
//   width: 50vw;
//   height: 100vh;
//   border-top: 700px solid orange;
//   border-left: 1500px solid brown;
// }


.about-img2 {
  background-image: asset-url('people.jpeg');
  width: 100vw;
  height: 150vh;
  position:absolute;
  background-position:center;
  background-repeat: no-repeat;
}

.center {
  position:absolute;
  top:30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.card {
  flex: 0 0 50%;
  width:200px;
  text-align:center;
  border-radius: 30px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color:#9D1C33;
  border: 1px, solid, rgba(0,0,0,0);
}

.horny {
  padding-left: 10px;
}

.trust1 {
  padding-left: 500px;
  padding-top: 520px;
}

.trust2 {
 padding-left: 500px;
 padding-bottom: 520px;
}

.mission {
 padding-left: 10px;
 padding-bottom: 30px;
}
