.paragraph {
  //padding-top: 220px;
  //display: flex;


  text-align: left;
  padding-bottom: 40px;
  height: 100%;
  padding-top: 60px;


  // color: white;
  // text-shadow: 1px 1px black;

  //width: 55vw;
  //position:relative;
  //background-color: #9D1C33;
  //padding: 200px 50px 0px 50px;
}
.header h1 {
  margin-top: 60px;
  //margin-bottom: 30px;
  text-align: center;
z-index: 1000;
  font-size: 300px;
  position:relative;
  color: white;
  text-shadow: 1px solid black;
  padding-left: 100px;

}
.impressum {
  margin-top: 100px;
  margin-bottom: 250px;
}
.header2 h1 {
    margin-top: 60px;
  //margin-bottom: 30px;
  text-align: center;
z-index: 1000;
  font-size: 200px;
  position:relative;
  color: white;
  text-shadow: 1px solid black;
  padding-left: 100px;
}

.nora-img {
  background-image: asset-url('Nora3.jpeg');
   width: 600px;
  height: 700px;
z-index: 0;

  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  // position:absolute;
  margin-top: -200px;

  //position: relative;
}

// .nora-vid {
//   // background-image: asset-url('nora.mov');
//    width: 600px;
//   height: 700px;
// z-index: 0;

//   // background-repeat:no-repeat;
//   // background-size: cover;
//   // background-position: center;
//   // position:absolute;
//   margin-top: -200px;

//   //position: relative;
// }


.team {


  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
  //justify-content: center;
  //align-items: center;
  //height: 100%;
}
.team2 {
   display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;
}

.s_paragraph {
  margin-top: -30px;
}

.s_paragraph p {
padding-right: 60px;
display: inline-block;
 // position: relative;
}

.s_paragraph2 {
  padding-left: 60px;
  padding-top:200px;
  display:inline-block;
}

.jeanie-img {
  background-image: asset-url('Jeanie2.jpeg');
   width: 650px;
  height: 700px;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 80px;
  // margin-right: 200px;
  margin-bottom: 100px;
  //position: relative;
}


.typing h1 {
  // font-family: 'Poiret One', cursive !important;
  font-family: 'DM Serif Display', serif !important;
}

.typing h2 {
  font-family: 'DM Serif Display', serif;
  padding-left: 40px;
  padding-right: 30px;
  color: black;
}
.border {
  border-bottom: 20px solid #D8B1C9;
  border-right: 20px solid #330066;
}

.wonderful {
  background-color: black;
  // background-color: #330066;
  color: white !important;
}



// .vertical {
//   border-right: 20px solid #330066;
//  min-height: 100%;

//  }



.paragraph p {
  padding: 0px 50px;
  font-size: 30px;
  color: black;
}

.paragraph h1 {
  margin: auto 0px;
  font-size: 60px;
  padding-bottom: 30px;
  padding: 0px 50px;
  color: black;
  font-family: 'DM Serif Display', serif;

}

.paragraph1 {
  //padding-top: 220px;
  //display: flex;
  text-align: center;
  padding-bottom: 30px;


  //width: 55vw;
  //position:relative;
  //background-color: #9D1C33;
  //padding: 200px 50px 0px 50px;
}


.paragraphh {
  //padding-top: 220px;
  //display: flex;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;

  //width: 55vw;
  //position:relative;
  //background-color: #9D1C33;
  //padding: 200px 50px 0px 50px;
}


.paragraphh p {
  padding: 0px 50px;
}

.paragraphh h1 {
  padding: 30px 50px;
}



.paragraph2 {
  text-align: center;
  background-color: black;

  color: white;
  //text-shadow: 0 0 5px #FF0000;
  font-size: 10px;
 font-weight: normal;
  padding:12px;


}

.paragraph2 p {
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Poiret One', cursive !important;


  text-align: center;
}

// .paragraph2 h3 {
//   font-size: 25px;
//   //font-weight: lighter;
//   font-family:'Arbutus Slab', serif !important;
// }


.lapurple1 {
    //border-bottom: 20px solid purple;
 border-right: 20px solid purple;
 padding-top: 60px;

}

.lapurple2 {
      border-bottom: 10px solid purple;
}

.lapurple3 {
      border-top: 20px solid purple;
      border-left: 20px solid purple;
}

.lapurple4 {
  border-right: 10px solid purple;

}
.lapurple5 {
  border-top: 10px solid purple;
  border-right: 10px solid purple;
  padding-top: 60px;
}
.lapurple6 {
  border-top: 20px solid purple;
  padding-top: 60px;
}


// .border1 {
//   border-top: 2px solid #330066;
// }
// .border h1 {
//   padding-top: 10px;
// }


.horizontal {
  border-bottom: 6px solid black;
  width: 200px;
  position:absolute;
  left: 50%;
}

.paragraph3 {
  text-align: center;
  background-color: #9D1C33;
  color: white;
  text-shadow: 0 0 5px black;
}



.missionn {
  display:flex;
  flex-direction: row;
  justify-content: center;
}


.missionn1 {
  display:flex;
  flex-direction: row;
  justify-content: center;
   //min-width: 0;
  //word-wrap: break-word;


}



.missionn1 .text2 {
  text-align: left;
  padding: 50px 50px;
 position:relative;
  width: 40vw;
  height: 90vh;
  //z-index:4;

}

.seen-on {
  display:flex;
  justify-content: center;
  margin-left:310px;
width: 40%;
height: 7.5vh;
margin-top: -90px;
color:white;
font-weight: normal !important;
// text-shadow: 0 0 5px black;
}

.hu-logo {
  background-image: asset-url('hi_logo.png');
  width: 242.2px;
  height: 97.5px;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  background-position: right;
  margin-top: 100px;
  margin-bottom: 100px;
}

.logos {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  padding-bottom: 70px;

}

.background {
  background: linear-gradient(to left, orange 50%, #B43C3F 50%);
  //#90C4CE; #FFCA63 #023AED

}

.text {
text-align: left;
width: 40vw;
padding-right: 30px;
  //height: 50vh;
}

.text1 {
text-align: left;
width: 40vw;
padding-left: 20px;
  //height: 50vh;
}

// .text2 {
// text-align: center;
// width: 40vw;
// padding-top: 100px;
//   // padding: 200px 0px 0px 30px;
// }

.label {
    // margin-bottom: 10px;
    // font-size: 12px;
    // line-height: 20px;
    // font-weight: 500;
    // letter-spacing: 1px;
    // text-transform: uppercase;
}
.text2 h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.text2 h3 {
    color: black;
    font-size: 30px;
    font-weight: bold;
}




.text2 p {

  font-size: 20px;
  color: black;
}

// .text2 h3 {
//   color: black;
// }

// .jeanie-img {
//     background-image: asset-url('jeanie.jpeg');
//    width: 187px;
//   height: 333px;
//   background-repeat:no-repeat;
//   background-size: cover;
//   background-position: center;
// }




.img-horny {
  background-image: asset-url('black.jpeg');
  width: 50vw;
  height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  border-left: 10px solid purple;
}

.img-team {
   background-image: asset-url('girls_sun.jpeg');
  width: 35vw;
  height: 55vh;
  background-repeat:no-repeat;
  background-size: cover;
}

.img-trust {
  background-image: asset-url('coool.jpg');
  width: 50vw;
  height: 70vh;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  z-index:5;
}

.img-sunglasses {
  background-image: asset-url('sunglasses.jpeg');
  width: 50vw;
  height: 100vh;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;

}


#user_signup_email {
  width: 70%;
  border-radius:30px;
}

.actions {
  margin-top: 17px;
  border-radius:30px;
}



#signup {
  display: flex;
  justify-content:center;
}


.rectangle1 {
    width: 100vw;
    height: 700px;
    background: linear-gradient(to bottom right, #E16415 0%, #E16415 50%, #9D1C33 50%, #9D1C33 100%);
  }
// =======
// .forms {
//   background: linear-gradient(to bottom left, #9D1C33 0%, #9D1C33 50%, #E16415 50%, #E16415 100%);
// >>>>>>> c6790ae9b973dff4d5a76b940d3b3f9fd0ed75fb
// }




.rectangle2 {
    width: 100vw;
    height: 700px;
   background: linear-gradient(to bottom left, #9D1C33 0%, #9D1C33 50%, #E16415 50%, #E16415 100%);
   z-index: 3;
}


// .triangle1 {
//   position: absolute;
//   z-index: 3;
//   width: 100vw;
//   height: 50vh;
//   border-bottom: 700px solid orange;
//   border-left: 1500px solid green;

// }

// .triangle2 {
//   width: 50vw;
//   height: 100vh;
//   border-top: 700px solid orange;
//   border-left: 1500px solid brown;
// }


.about-img2 {
  background-image: asset-url('people.jpeg');
  width: 100vw;
  height: 100vh;
  position:relative;
  background-position:center;
  background-repeat: no-repeat;
}

.center {
  position:absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.center2 {
position:relative;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.card {
  flex: 0 0 50%;
  width:200px;
  text-align:center;
  border-radius: 30px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color:#9D1C33;
  border: 1px, solid, rgba(0,0,0,0);
}

// .card3 {
//   background-color: white;
//   color: #333;
//   border-radius: 10px;
//   box-shadow: 0 3px 10px rgba(0,0,0,0.2);
//   padding: 20px;
//   margin: 10px;
// }

// .showcase1-form1 {
//   position:relative;
//   top:60px;
//   height: 300px;
//   width: 400px;
//   padding: 20px;
//   z-index: 100;
// }

// .showcase1-form1 .form1-control2 {
//   margin: 30px 0;
// }

// .showcase1-form1 input[type='text'],
// .showcase1-form1 input[type='email'] {
//   border: 0;
//   border-bottom: 1px solid #b4becb;
//   width: 100%;
//   padding: 3px;
//   font-size: 16px;
// }

// .showcase1-form1 input:focus {
//   outline: none;
// }
.card2 {
  background-color: orange;
  //color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  //padding: 20px;
  margin: 20px;
  background-color: #E16415;
}

.talk {
  justify-content: center;
}



.horny {
  padding-left: 10px;
}
.horny h2 {
    color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word;
    display: inline-block;
}

.trust1 {
  padding-left: 500px;
  padding-top: 520px;
}

.trust2 {
 padding-left: 500px;
 padding-bottom: 520px;
}

.mission {
display:flex;
 padding-left: 10px;
 padding-bottom: 30px;
 //background-color: orange;
}

.seen {
  display: flex;
  justify-content: center;
}

.seen .container {
  display:flex;
  justify-content: center;
}
.logo1 {
  background-image: asset-url('header_HI.jpeg');

}

.logo2 {
background-image: asset-url('hu.jpeg');
}

