.footer {
  background:#050F14;
  z-index: 3;
  height: 30px;
  font-family: 'Poiret One', cursive !important;
  //background-color: #9D1C33;



}

.footer .container {
  display:flex;
  justify-content: center;
  //background-color: #9D1C33;

}

.list-items {
  text-align: center;
    .list-item {
        display: inline-block;
        color: white;

    }

    .list-item a {

      padding: 7px;
      padding-top: 3px;
    }
}

.list-items ul {
  padding-top: 8px;
}



// .footer p {
//   color:white;
//   font-size:20px;
// }

// .py-5 {
// background-color: #9D1C33;
//  z-index: 3;

// }
// .py-5 p {
//   color: white;
// }

