.footer {
  background:#050F14;
  z-index: 3;
  height: 30px;
  font-family: 'Poiret One', cursive !important;
}

.footer .container {
  display:flex;
  justify-content: center;
}

.list-items {
  text-align: center;
    .list-item {
        display: inline-block;
        color: white;
    }

    .list-item a {

      padding: 7px;
      padding-top: 3px;
    }
}

.list-items ul {
  padding-top: 8px;
}



