.paragraph {
  text-align: left;
  height: 100%;
  padding-top: 60px;
  position:relative;
  //padding-bottom: 40px;
  //padding-bottom: 30px;
  // color: white;
  // text-shadow: 1px 1px black;

  //width: 55vw;
  //background-color: #9D1C33;
  //padding: 200px 50px 0px 50px;
}

.paragraph h1 {
  margin: auto 0px;
  font-size: 50px;
  padding-bottom: 40px;
  padding: 0px 50px;
  color: black;
  font-family: 'DM Serif Display', serif;
}

.paragraph p {
  padding: 0px 50px;
  font-size: 30px;
  color: black;
}

.paragraph_q {
  text-align: left;
  padding-bottom: 40px;
  height: 100%;
  padding-top: 60px;
  position:relative;
  //padding-top: 220px;
  //display: flex;
  //padding-bottom: 30px;
  // color: white;
  // text-shadow: 1px 1px black;

  //width: 55vw;
  //background-color: #9D1C33;
  //padding: 200px 50px 0px 50px;
}

.paragraph_q h1 {
  margin: auto 0px;
  font-size: 60px;
  padding-bottom: 40px;
  padding: 0px 50px;
  color: black;
  font-family: 'DM Serif Display', serif;
}

.paragraph_q p{
  padding: 0px 50px;
  font-size: 30px;
  color: black;
}

.s_paragraph {
  margin-top: -30px;
}

.s_paragraph p {
  padding-right: 60px;
  display: inline-block;
   // position: relative;
}

.s_paragraph2 {
  padding-left: 60px;
  padding-top:200px;
  display:inline-block;
}

.paragraph1 {
  text-align: center;
  padding-bottom: 30px;
  //padding-top: 220px;
  //display: flex;
  //width: 55vw;
  //position:relative;
  //background-color: #9D1C33;
  //padding: 200px 50px 0px 50px;
}


.paragraphh {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  //padding-top: 220px;
  //display: flex;
  //width: 55vw;
  //position:relative;
  //background-color: #9D1C33;
  //padding: 200px 50px 0px 50px;
}

.paragraphh p {
  padding: 0px 50px;
}

.paragraphh h1 {
  padding: 30px 50px;
}

.paragraph2 {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 10px;
  font-weight: normal;
  padding:12px;
  //text-shadow: 0 0 5px #FF0000;
}

.paragraph2 p {
  font-size: 25px;
  text-align: center;
  //font-weight: bolder;
  //font-family: 'Poiret One', cursive !important;
}

.paragraph3 {
  text-align: center;
  background-color: #9D1C33;
  color: white;
  text-shadow: 0 0 5px black;
}


.lapurple1 {
    //border-bottom: 20px solid purple;
   border-right: 20px solid purple;
   padding-top: 60px;
}

.lapurple2 {
  border-bottom: 10px solid purple;
}

.lapurple3 {
      border-top: 20px solid purple;
      border-left: 20px solid purple;
}

.lapurple4 {
  border-right: 10px solid purple;

}
.lapurple5 {
  border-top: 10px solid purple;
  border-right: 10px solid purple;
  padding-top: 60px;
}
.lapurple6 {
  border-top: 20px solid purple;
  padding-top: 60px;
}



// .paragraph {
//   //padding-top: 220px;
//   //display: flex;


//   text-align: left;
//   //padding-bottom: 40px;
//   height: 100%;
//   padding-top: 60px;

// //padding-bottom: 30px;
//   // color: white;
//   // text-shadow: 1px 1px black;

//   //width: 55vw;
//   position:relative;
//   //background-color: #9D1C33;
//   //padding: 200px 50px 0px 50px;
// }

// .paragraph h1 {
//   margin: auto 0px;
//   font-size: 50px;
//   padding-bottom: 40px;

//   padding: 0px 50px;
//   color: black;
//   font-family: 'DM Serif Display', serif;

// }
// .paragraph p {
//   padding: 0px 50px;
//   font-size: 30px;
//   color: black;

// }

// .paragraph_q {
//     //padding-top: 220px;
//   //display: flex;


//   text-align: left;
//   padding-bottom: 40px;
//   height: 100%;
//   padding-top: 60px;

// //padding-bottom: 30px;
//   // color: white;
//   // text-shadow: 1px 1px black;

//   //width: 55vw;
//   position:relative;
//   //background-color: #9D1C33;
//   //padding: 200px 50px 0px 50px;
// }


// .paragraph_q h1 {
//     margin: auto 0px;
//   font-size: 60px;
//   padding-bottom: 40px;

//   padding: 0px 50px;
//   color: black;
//   font-family: 'DM Serif Display', serif;

// }

// .paragraph_q p{
//   padding: 0px 50px;
//   font-size: 30px;
//   color: black;
// }

// .s_paragraph {
//   margin-top: -30px;
// }

// .s_paragraph p {
// padding-right: 60px;
// display: inline-block;
//  // position: relative;
// }

// .s_paragraph2 {
//   padding-left: 60px;
//   padding-top:200px;
//   display:inline-block;
// }

// .paragraph1 {
//   //padding-top: 220px;
//   //display: flex;
//   text-align: center;
//   padding-bottom: 30px;


//   //width: 55vw;
//   //position:relative;
//   //background-color: #9D1C33;
//   //padding: 200px 50px 0px 50px;
// }


// .paragraphh {
//   //padding-top: 220px;
//   //display: flex;
//   text-align: center;
//   padding-bottom: 30px;
//   padding-top: 30px;

//   //width: 55vw;
//   //position:relative;
//   //background-color: #9D1C33;
//   //padding: 200px 50px 0px 50px;
// }


// .paragraphh p {
//   padding: 0px 50px;
// }

// .paragraphh h1 {
//   padding: 30px 50px;
// }



// .paragraph2 {
//   text-align: center;
//   background-color: black;

//   color: white;
//   //text-shadow: 0 0 5px #FF0000;
//   font-size: 10px;
//  font-weight: normal;
//   padding:12px;


// }

// .paragraph2 p {
//   font-size: 25px;
//   //font-weight: bolder;
//   //font-family: 'Poiret One', cursive !important;


//   text-align: center;
// }

// // .paragraph2 h3 {
// //   font-size: 25px;
// //   //font-weight: lighter;
// //   font-family:'Arbutus Slab', serif !important;
// // }

// .paragraph3 {
//   text-align: center;
//   background-color: #9D1C33;
//   color: white;
//   text-shadow: 0 0 5px black;
// }

// .text {
// text-align: left;
// width: 40vw;
// padding-right: 30px;
//   //height: 50vh;
// }

// .text1 {
// text-align: left;
// width: 40vw;
// padding-left: 20px;
//   //height: 50vh;
// }
// .text2 h2 {
//     color: white;
//     font-size: 50px;
//     font-weight: bold;
// }
// .text2 h3 {
//     color: black;
//     font-size: 30px;
//     font-weight: bold;
// }




// .text2 p {

//   font-size: 20px;
//   color: black;
// }
