.rectangle113 {
  height: 25vh;
  width: 60vw;
  margin-left: 400px;
  background-color: black;
  color: white;
  margin-bottom: 60px;
}

.rectangle111 {
  height: 30vh;
  width: 50vw;
  margin-left: 500px;
  background-color: #9D1C33;
  color: white;
  margin-top: -300px;
  //font-size:23px;
}

.rectangle114 {
  height: 110vh;
  width: 50vw;
  margin-left: 400px;
  background-color: black;
  color: white;
}

.rectangle112 {
  height: 30vh;
  width: 100vw;
  background-color: purple;
  color: white;
  //margin-left: 600px;
}
