@media (max-width: 768px) {

.banner {
  height: calc(100vh - 10vh);
  background-image: asset-url('burn.jpeg');
  //display: flex;
  justify-content:center;
  background-size: cover;
  background-position: left;
  text-align: center;
}

.banner h1 {
  padding: 30px;
  // text-shadow:1px 1px 2px #000000;
  // font-weight: 300;
  color: #efefef;
  font-size: 50px;

}
  .grid1,
  .missionn1 .grid1,
  .paragraph2 .grid1,
  .paragraph3 .grid1,
  .paragraph .grid1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .missionn1 {
    height: auto;
    flex-direction: column;

  }

  .missionn1-text {
    text-align: center;
    //margin-top: 40px;
    flex-direction: column;
  }

  .navbar3 {
    background-color: transparent;
    color: white;
    height: 70px;
    position: fixed;
    top: 18px;
    z-index: 1000;
  }

 .paragraph2 h1 {
  text-align: center;
  background-color: black;
  color: white;
  //text-shadow: 0 0 5px #FF0000;
  //font-size: 25px;
  margin: auto -3px;
  font-size: 20px;
  padding: 0px 20px;
  //padding: 0px;
 }

 .paragraph h1 {
  font-size: 20px;
  padding: 0px 0px;
 }

  .missionn1 .img-sunglasses {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  //word-wrap: break-word;
}

.missionn1 .img-trust {
display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.missionn1 .paragraph {
  text-align: center;
  padding: 30px;
}
.missionn1 .img-horny {
display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.background {
  background: orange;
}

.missionn1 .text2 {

   text-align: center;
  padding: 50px 30px;
  width: 100%;
}

.text2 h3 {
   margin: auto 0px;
  font-size: 20px;
  //padding-bottom: 15px;
}

  // .showcase1-form1 {
  //   justify-self: center;
  //   margin: auto;
  // }
}

@media (max-width: 500px) {

  .banner {
  height: calc(100vh - 10vh);
  background-image: asset-url('burn.jpeg');
  justify-content:center;
  background-size: cover;
  background-position: 50%;
  text-align: center;
}

  .banner h1 {
  padding-top:30px;
  text-shadow:1px 1px 2px #000000;
  color: #efefef;
  font-size: 50px;
  margin: auto 0px;
}


  .navbar3 {
   background-color: transparent;
  color: white;
  height: 70px;
  position: fixed;
  top: 18px;
  z-index: 1000;
  width: 100%;
  text-align: center;
}
.navbar3 ul {
  display: flex;
  justify-content: center;
}


.paragraph h1 {
  font-size: 20px;
  padding: 0px 0px;
 }

 .paragraph2 h1 {
  text-align: center;
  background-color: black;
  color: white;
  //text-shadow: 0 0 5px #FF0000;
  //font-size: 25px;
  //margin: auto -3px;
  font-size: 20px;
  padding: 0px;
 }

 .missionn1 .img-sunglasses {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  //word-wrap: break-word;
}

.missionn1 .img-horny {
display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.missionn1 .img-trust {
display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.missionn1 .paragraph {
  text-align: center;
  padding: 70px;
  //  margin: auto 0px;
  // font-size: 20px;
  // padding-bottom: 15px;
}
.background {
  background: orange;
}

.missionn1 .text2 {
  text-align: center;
  padding: 70px;
  width: 100%;
}

.text2 h3 {
   margin: auto 0px;
  font-size: 20px;
  padding-bottom: 15px;
}

.footer {

}
  // .navbar3 .flex {
  //   flex-direction: column;
  // }

  // .navbar3 ul {
  //   padding: 10px;
  //   background-color: rgba(0,0,0,0.1);
  // }
}
