.prague-section {
  padding-top: 100px;
  background-color: #FFA500;
}

.mila-section {
  margin-top: 100px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.black_container {
  background-color: black;
  color: white;
  font-size: 30px;
  margin-top: -35px;
  text-align:center;
  position: relative;
  padding-bottom:35px;
}

.styling1 {
  margin-left:50px;
  color:black;
}

.styling2 {
  color: black;
  font-size: 150px;
}

.styling3 {
  margin-left: 30px;
  color:black;
  font-size:50px;
}

.styling4 {
  color: white;
  font-size: 150px;
  margin-top: 550px;
  background-color:#9D1C33;
}
